{
	"singleQuote": false,
    "parser": "typescript",
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"arrowParens": "always",
    "trailingComma": "all", 
	"printWidth": 120,
	"formatOnSave": true,
	"jsxBracketSameLine": false
}
